body {
    margin: 55px auto;
    width: 37%;
    background-color: #54b2c1;
}
nav ul, footer ul {
    font-family: 'Montserrat', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #fbfcff
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #d3eff2;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Montserrat', 'Sans-Serif';
    color: #fbfcff
}
h2 {
    font-size: 2em;
    font-family: 'Montserrat', 'Sans-Serif';
    color: #d3eff2
}
h3 {
    font-size: 1em;
    font-family: 'Montserrat', 'Sans-Serif';
    color: #d3eff2
}
p {
    font-size: .9em;
    font-family: 'Montserrat', 'Sans-Serif';
    line-height: 1.2em;
    color: #fbfcff;
}
footer {
    border-top: 1px solid #fbfcff;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
