body {
    margin: 55px auto;
    width: 49%;
    background-color: #54b2c1;
}
nav ul, footer ul {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #fbfcff
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #d3eff2;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #fbfcff
}
h2 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #d3eff2
}
h3 {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #d3eff2
}
p {
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2em;
    color: #fbfcff;
}
footer {
    border-top: 1px solid #d3eff2;
    font-size: .8em;
}


.topnav {
  overflow: hidden;
  position: relative;
  left: 50%;
  background-color: #54b2c1;
}

/* top navigation besides dropdown*/
.topnav a {
  float: left;
  display: block;
  color: #d3eff2;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/*dropdown button in the top nav*/
.dropdown .dropbtn {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    color: #d3eff2;
    font-weight: bold;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    font-size: 15px;
    background-color: #54b2c1;
    min-width: 100px;
    z-index: 1;
}

/* dropdown list content*/
.dropdown-content a {
    float: none;
    font-size: 13px;
    color: #d3eff2;
    padding: 12px 16px;
    line-height: 1px;
    height: 1px;       
    text-decoration: none;
    display: block;
    text-align: left;
}

/* action hover top nav*/
.topnav a:hover, .dropdown:hover .dropbtn {
  font-size: 16px;
  background-color: inherit;
  color: #d3eff2;  
}

.dropdown-content a:hover {
    background-color: inherit;
    font-size: 14px;
    color: #d3eff2;
 }

.dropdown:hover .dropdown-content {
    display: block;
}

