<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://michelszklo.github.io/">Home</a></li>
		        	<li><a href="https://michelszklo.github.io/r_projects">Research Projects</a></li>
				<li><a href="https://michelszklo.github.io/o_projects">Other Projects</a></li>
	        		<li><a href="https://michelszklo.github.io/short_notes">Short Notes</a></li>
				<li><a href="https://michelszklo.github.io/codes">Codes</a></li>
				<li><a href="https://michelszklo.github.io/CV">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:mszklo@gmail.com">email</a></li>
        		<li><a href="https://www.linkedin.com/in/michel-szklo-95841759/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
