<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Roboto" rel="stylesheet">
		</head>
		<body>
			<div class="topnav"id="myTopnav">
	        		<a href="https://michelszklo.github.io/">Home</a>
          			<div class="dropdown">
           				<button class="dropbtn">Projects
              					<i class="fa fa-caret-down"></i>
            				</button>
            				<div class="dropdown-content">
              					<a href="https://michelszklo.github.io/r_projects">Research</a>
						<a href="https://michelszklo.github.io/o_projects">Other</a>
            				</div>
          			</div>
	      			<a href="https://michelszklo.github.io/short_notes">Short Notes</a>
				<a href="https://michelszklo.github.io/codes">Codes</a>
				<a href="https://michelszklo.github.io/CV">CV</a>
			</div>
			<div class="container">
      
			{{ content }}
      
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:mszklo@gmail.com">email</a></li>
        		<li><a href="https://www.linkedin.com/in/michel-szklo-95841759/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
